* {
  margin: 0;
  padding: 0;
}
h3 {
  padding-bottom: 20px;
}
body {
  background-color: #2A3D45;
}
#container {
  text-align: center;
  margin-top: 10%;
  color: azure;
}
label {
  padding-right: 20px;
  padding-bottom: 20px;
  font-size:large;
}
#radios {
  padding: 50%;
}
#options > label {
  margin-right: 20px;
  padding: 10px;
  padding-bottom: 20px;
}
#result {
  font-size: x-large;
}
button {
  padding: 10px;
  background-color: white;
  color: #2A3D45;
  font-weight: bold;
}